/* フォントの種類 */
body {
  font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

/* フォントサイズ */
:root {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

/* フォントカラー */
#profile-title span:first-letter {
  color: skyblue;
}

#profile-title span:nth-child(2) {
  color: pink;
}

#basic,
#basic p {
  color: pink;
}

#basic h1,
#basic h1 + p,
#basic h1 + p + p {
  color: skyblue;
}

/* その他の装飾 */
body {
  text-align: center;
}

h1 {
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgb(115, 115, 114);
}

#basic {
  font-weight: normal;
}

#basic div:first-child,
#basic div:first-child + p,
#basic div:first-child + p + p {
  font-weight: bold;
}


