/* フォントの種類 */
body {
  font-family: "Arial", "Meiryo", sans-serif;
}
.google-fonts {
  font-family: 'Josefin Sans', sans-serif;
}
/* フォントサイズ */
html {
  font-size: 20px;
  text-align: center;
}

html, h2, p, .pink, .blue, .text-red, .text-blue {
  font-size: 20px;
}
/* フォントカラー */
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgb(115, 115, 114);
  color: black;
}

h2 {
  color: skyblue;
}

#basic p {
  font-weight: bold;
}

.pink {
  color: rgb(255, 192, 203);
}

.blue {
  color: skyblue;
}

.text-red {
  color: rgb(255, 192, 203);
}

.text-blue {
  color: skyblue;
}